.nftDetails_section {
    margin-top: 5%;
}

.single_nft-img {
    border-radius: 8px;
}

.single_nft-seen span i {
    padding: 5px;
    background: #fff1eb;
    border-radius: 50px;
    cursor: pointer;
}

.single_nft-seen span,
.single_nft-more span {
    font-size: 0.8rem;
}


.single_nft-more span i {
    padding: 5px;
    background: #fff1eb;
    border-radius: 50px;
    cursor: pointer;
}

.nft_creator {
    background: #fff1eb;
    padding: 15px;
    border-radius: 7px;
    width: 60%;
}

.artist_img {
    width: 40px;
    height: 40px;
}

.artist_detail {
    font-size: 0.7rem;
    font-weight: 300;
    margin: 10px 5px 5px 15px;
}

.creator_detail h6 {
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 500;
}

.nft_caract {
    background: #fff1eb;
    padding: 15px;
    border-radius: 7px;
    width: 45%;
}

.nft_token {
    background: #fff1eb;
    padding: 15px;
    border-radius: 7px;
    width: 45%;
}

.singleNft-btn {
    padding: 8PX 25px;
    background: #fff1eb;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleNft-btn a {
    text-decoration: none;
    font-size: 1rem;
    color: #303030;
}

.singleNft-btn a:hover {
    text-decoration: none;
    font-size: 1rem;
    color: #303030;
}

.singleNft-btn:hover {
    color: #303030;
    text-decoration: none;
    border: 1px solid #303030;
}

.singleNft-btn i {
    color: #303030;
}

.message_alert {
    background: #fff1eb;
    padding: 15px;
    border-radius: 7px;
    width: 60%;
}

@media only screen and (max-width:992px) {

    .single_nft_content h2 {
        font-size: 1.3rem;
    }

    .single_nft_content p {
        font-size: 0.8rem;
        line-height: 28px;
    }

    .nft_creator {
        width: 100%;
    }

    .singleNft-btn a {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width:576px) {

    .single_nft_content h2 {
        margin-top: 15px;
    }
}