.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111111;
}

.header_shrink {
    background: #ffffff;
    box-shadow: 2px 2px 4px -2px #ace0f9;
}

.logo h2 span {
    color: #303030;
}

.logo a {
    text-decoration: none;
}

.logo img {
    width: 50px;
    margin-bottom: 15px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}

.nav_item a {
    text-decoration: none;
    color: #303030;
    padding: 7px 25px;
    border: 1px;
    border-radius: 50px;
    background: #fff1eb;
}

.nav_item a:hover {
    color: #303030;
    text-decoration: none;
    border: 1px solid #303030;
}

.active {
    color: #343444 !important;
    background-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 100%);
    text-decoration: none;
}

.profile img {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}

.nav_right .btn {
    padding: 7px 25px;
    border: 1px;
    border-radius: 50px;
    background: #fff1eb;

}

.nav_right .btn a {

    text-decoration: none;
    font-size: 0.8rem;
}


.nav_right .btn:hover {
    color: #303030;
    text-decoration: none;
    border: 1px solid #303030;
}

.profile {
    margin-left: 5px;
}

.profile_box {
    padding: 7px 25px;
}

.mobile_menu {
    font-size: 1.3rem;
    display: none;
}

@media only screen and (max-width:768px) {

    .nav_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#303030, #303030);
        z-index: 222222;
        display: none;
    }

    .active_menu {
        display: block;
    }

    .nav_list {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #f2f1f8 !important;
        ;
        z-index: 333333;
        flex-direction: column;
        padding-top: 40px;
        line-height: 40px;
    }

    .mobile_menu {
        display: block;
    }


    .btn {
        padding: 4px 25px !important;
    }

    .btn a {
        font-size: 0.7rem !important;
    }

}