@import url("https://fonts.googleapis.com/css?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%) !important;
  font-family: "Roboto MONO", sans-serif;
}

h1,
h2 {
  color: #303030;
  font-weight: 500;
  font-size: 2rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: #303030;
  line-height: 35px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section,
footer {
  padding: 60px 0px;
}

.btn_global {
  border: none;
  padding: 7px 25px 0px 25px;
  border-radius: 50px;
  border: 1px;
  font-size: 0.9rem;
  background: #fff1eb;
  cursor: pointer;
}

.btn_global i {
  font-size: 1rem;
  color: #303030;
}

.btn_global a {
  text-decoration: none;
  color: #303030;
}

.btn_global a:hover {
  color: #303030;
  text-decoration: none;
}

.btn_global:hover {
  color: #303030;
  text-decoration: none;
  border: 1px solid #303030;
}




/* ==================== custom scroll-bar ===================*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}