.hero_section {
    margin-top: 120px;
    background: #f2f1f8;
}

.hero_content h2 {
    line-height: 55px;
    font-size: 2.5rem;
}

.hero_content h2 span {
    color: #151964;
}

.hero_btns {
    margin-top: 40px;
}

.explore_btn,
.create_btn {
    border: none;
    outline: none;
    padding: 7px 25px !important;
    border-radius: 50px !important;
    border: 1px !important;
    font-size: .9rem;
    background: linear-gradient(90deg, rgb(0, 203, 130) -2.21%, rgb(0, 180, 237) 100%);
}

.explore_btn i,
.create_btn i {
    color: #fff;
    font-size: 1rem;
}

.explore_btn a,
.create_btn a {
    text-decoration: none;
    color: #fff;
}

.hero_btns button a:hover {
    color: #fff;
}

.hero_img {
    width: 500px;
    margin-left: auto;
}

.hero_img img {
    border-radius: 7px;
}