#nftForm {
    background: #EFF0F2;
    padding: 20px;
    border-radius: 10px;
    border: thick double #303030;
    ;
}

.form_input input,
.form_input textarea {
    width: 100%;
    padding: 7px 25px;
    font-size: 0.8rem;
    background: transparent;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.form_input {
    margin-bottom: 15px;
}

.form_input label {
    margin-bottom: 10px;
}

.form_input .upload_input {
    padding: 40px 25px;
}

.create_btn {
    border: none;
    outline: none;
    padding: 7px 25px !important;
    border-radius: 50px !important;
    border: 1px !important;
    font-size: 0.9rem;
    background: #ace0f9;
    margin: 5px 5px 15px 0px;
}

.create_btn i {
    font-size: 1rem;
    margin-right: 5px;
    background: transparent;
    color: #303030;
}

.create_btn:hover {
    color: #303030;
    text-decoration: none;
    border: 1px solid #303030 !important;
}

.single_nft_card {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.nft_img img {
    border-radius: 10px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
}

.nft_img {
    margin-bottom: 15px;
}

.upload_img img {
    border-radius: 10px;
    height: 270px;
    width: 270px;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
}

.upload_img {
    margin-bottom: 15px;
}



@media only screen and (max-width:576px) {
    .create_item {
        margin-top: 15px;
    }
}