.seller_img {
    width: 80px !important;
    height: 80px !important;
    clip-path: circle();
}

.seller_content h6 {
    font-size: 1rem;
    color: #303030;
}

.seller_section-title h3 {
    color: #303030;
}

@media only screen and (max-width:992px) {
    .seller_content h6 {
        font-size: 0.8rem !important;
    }
}