.single_step_item {
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    height: 320px;
}

.step_title {
    color: #303030;
}

.step_item_content h5 a {
    text-decoration: none;
    color: #303030;
}

.step_item_content a:hover {
    color: #303030;
    text-decoration: none;
    border: 1px solid #303030;
}

.single_step_item span i {
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    background: #ace0f9;
    color: #303030;
}

.step_item_content {
    margin-top: 20px !important;
}

.step_item_desc {
    margin-top: 20px !important;
    font-weight: 400;
    font-size: 1rem;
    color: #303030;
}

@media only screen and (max-width:992px) {
    .step_item_content h5 a {
        font-size: 1rem;
    }

    .single_step_item p {
        font-size: 0.8rem;
        line-height: 25px;
    }

}