.all_category_filter select,
.our_artists,
.top_collection {
    padding: 8px 25px;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #fff;
}

@media only screen and (max-width:768px) {

    .all_category_filter select,
    .our_artists,
    .top_collection {
        padding: 5px 20px;
        font-size: 0.6rem;
    }
}