.hero_section {
    padding-top: 120px;
    background: #f2f1f8;
}

.hero_content h2 {
    line-height: 55px;
    font-size: 2.5rem;
}

.hero_content h2 span {
    color: #151964;
}

.hero_btns {
    margin-top: 40px;
}

.explore_btn {
    border: none;
    outline: none;
    padding: 7px 25px !important;
    border-radius: 50px !important;
    border: 1px !important;
    font-size: 0.9rem;
    background: linear-gradient(90deg, rgb(0, 203, 130) -2.21%, rgb(0, 180, 237) 100%);
}

.explore_btn i {
    color: #fff;
    font-size: 1rem;
}

.explore_btn a {
    text-decoration: none;
    color: #fff;
}

.explore_btn a:hover {
    text-decoration: none;
    color: #fff;
}

.explore_btn:hover {
    background: linear-gradient(90deg, rgb(0, 180, 237) -2.21%, rgb(0, 203, 130) 100%);
    text-decoration: none;
    color: #fff;
}

.hero_img {
    margin-left: auto;
}

.hero_img img {
    border-radius: 7px;
}


@media only screen and (max-width:992px) {
    .hero_img {
        width: 300px;
    }

    .hero_section {
        margin-top: 90px;
    }

    .hero_content h2 {
        font-size: 1.5rem;
        line-height: 40px;
    }

    .hero_content p {
        font-size: 0.8rem;
        line-height: 25px;
    }


    .explore_btn {
        padding: 4px 25px !important;

    }

    .explore_btn a {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width:576px) {
    .hero_img {
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
}